body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1200px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
/*
.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
} */

header h1 {
  text-align: center;
}

.page {
  width: 100%;
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.pagination-lg .page-link {
  background-color: rgb(51, 51, 51);
}

.Welcome-Button {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
.welcome-page {
  margin: 0;
  padding: 0;
  height: 80vh;
  font-family: sans-serif;
  background-image: url("./img/Rick-Morty-Hero.png");
  background-size: cover;
  /* background-attachment: fixed; */
}
